
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
          Filter
        </ion-title>

        <ion-buttons end>
            <button ion-button left icon-only (click)="sort()">
               <ion-icon  name="md-refresh" ></ion-icon> 
            </button>
     </ion-buttons>
      
  
    </ion-navbar>
  </ion-header>
  
      <ion-content padding>

            <ion-list>
                    <ion-item>
                      <ion-label>Categorie</ion-label>
                      <ion-select (ionChange)="list_search($event)" >
        <ion-option
             *ngFor="let b of countries"  
             
             value="{{b.categorie}}">{{b.categorie}}
        </ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>

 <!----------------------------------------------------------------------------------------------->
 <ion-list>
  <ion-item>
    <ion-label>Channel</ion-label>
    <ion-select (ionChange)="channel($event)">
<ion-option
*ngFor="let e of cat"  

value="{{e.tvname}}">{{e.tvname}}
</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<!----------------------------------------------------------------------------------------------->

                <!--
          <ion-searchbar class="search-box" color="danger" [(ngModel)]="terms"  ></ion-searchbar>
cha-->

<div  class="thumbnail-grid">  
     
  <div class="showbox" *ngFor="let item of cha" >
    <img src="{{item.tvlogo}}" class="img" >


    <div class="middle">
      <!----(click)="launchInterstitial()"---->
     <div> 
<ion-icon class="iconplay"  (click)="launchInterstitial()"  (click)="startVideo(item.tvmedia)"                  name="play"></ion-icon>
</div>
<div> <ion-icon class="iconfav" (click)="CreateUser(item.id, item.tvtitle, item.tvmedia,item.tvname,item.tvlogo,item.tvgroup)"  name="heart"></ion-icon></div>

    </div>

          <div class="container"> 
              <p style="font-size: 6px; color:rgb(250, 32, 3);">{{item.tvname}}</p>
          </div>
  
  </div>
  
</div>
 <!--------------------------------------------------------------------------------------->
 <ion-searchbar class="search-box" color="danger" [(ngModel)]="terms"  ></ion-searchbar>
 <!--------------------------------------------------------------------------------------->

<div  class="thumbnail-grid">       
  <div class="showbox" *ngFor="let f of cat | search : terms | sort: {property: column, order: order}" >
    <img src="{{f.tvlogo}}" class="img" >


    <div class="middle">
     
     <div> 
<ion-icon class="iconplay"  (click)="launchInterstitial()"  (click)="startVideo(f.tvmedia)"                  name="play"></ion-icon>
</div>
<div> <ion-icon class="iconfav" (click)="CreateUser(f.id, f.tvtitle, f.tvmedia,f.tvname,f.tvlogo,f.tvgroup)"  name="heart"></ion-icon></div>

    </div>

          <div class="container"> 
              <p style="font-size: 6px; color:rgb(250, 32, 3);">{{f.tvname}}</p>
          </div>
  
  </div>
  
</div>



  
    </ion-content>
    